.img-header {
    width: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    margin-top: auto;
}

.no-underline {
    text-decoration:none;
    display: inline-block;
}

.margin-sides {
    margin-right: -100px;
    margin-left: 50px;
}

/* .dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
} */

/* .dropdown-menu[data-bs-popper] {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu[data-bs-popper] {
  display: block;
} */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .dropdown-menu li{
      position: relative;
  }
  .dropdown-menu .submenu{ 
      display: none;
      position: absolute;
      left:100%; top:-7px;
  }
  .dropdown-menu .submenu-left{ 
      right:100%; left:auto;
  }

  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
      display: block;
  }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
/* ============ small devices .end// ============ */

.menus0 {
    text-decoration: none;
}

.swiper-container {
    overflow: hidden;
}

#navbarHeader {
    padding-bottom: 0;
}

#navbarNav {
    margin-top: 0px;
    margin-bottom: 0px;
}

#about {
    margin-top: -40px;
}
